 body{
    text-align: center;
    font-family: sans-serif;
    color:#FFFFEE;
    background: linear-gradient(#1e90ff, #89ceeb) fixed;/*ドジャーブルー,スカイブルー*/
    /*background: linear-gradient(#6B8E23, #E9FFA5 ) fixed;緑系*/
    margin: auto;
  }

.marquee-anime{
     overflow: hidden;
     }
.marquee-anime  {  /*⬅ここに書いてあったspanを外したら動いた(ランダム時)*/
   display: inline-block;
   padding-left: 100%;
   white-space: nowrap;     /*これがないと文字2つ以上はタテにならぶ*/
   animation: marquee 12s linear infinite;
   }
   
  @keyframes marquee {
       0%{
           transform: translate(-30%);
        }
         50% {
            transform: translate(-70%);
        }
       100%{
           transform: translate(-30%);
        }
       
